.middle {
    display: inline-block;
    height: 70vmin;
    width: 100;
}

nav {
    background-color: var(--color-bg);

    float: left;
    border-radius: 8px;

    border-top: 8px solid black;
    border-left: 8px solid black;
    border-bottom: 8px solid var(--color-deepBlue);
    border-right: 8px solid var(--color-deepBlue);

    padding-left: 0.1%;
    padding-right: 0.1%;

    width: 25%;
    height: 100%;
}

aside {
    background-color: var(--color-bg);
    
    float: right;
    border-radius: 8px;

    border-top: 8px solid black;
    border-left: 8px solid black;
    border-bottom: 8px solid var(--color-deepBlue);
    border-right: 8px solid var(--color-deepBlue);

    padding: 0% 2%;

    width: 67%;
    height: 100%;

}