:root {
    --color-blue: #e6e6e6;
    --color-deepBlue: black;
    --color-bg: white;
}

.todoInput {

    width: 80%;
    margin: 30px auto;    
    margin-top: 60px;
    border-radius: 8px;
    
}

.inputSize{

    font-size: 100%;
    width: 95%;

}

.createTag {

    width: 80%;
    height: 30%;

    margin: 20px auto;

    background-color: white;
    border-radius: 8px;

}

.addImg{

    width: 9%;

    float: right;

}

.posTag {

    margin-top: 10px;

    height: 1000px;
    width: 100%;
}

.selectColor {

    width: 80%;
    height: 30%;

    margin: 20px auto;

    margin-bottom: 0px;

    background-color: white;
    border-radius: 8px;

    display: block;
}

.color {

    margin: 7% 3%;
    width: 8%;
    height: 13%;
    border-radius: 50%;

    vertical-align: middle;
    text-align: bottom;

    border: 0.1px solid black;

}

.posTag {

    margin-top: 10px;

    width: 100%;
    height: 70%;
}