.bestProduct_bg {
    width: 65%;
    min-height: 200px;
    margin: 20px auto;
}

h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: normal;
    margin-right: 0;
}

.list_full {
    display: flex;
    flex-direction : row;
    flex-wrap : wrap;
    align-items: stretch;
}

.list_full > a {
    vertical-align: super;
}

.list_full > ul {
    display: inline-block;
    padding: 0;
    width: 19%;

    margin: 5px 0.5%;   
}

.detail {
    float: right;
    vertical-align: baseline;
    margin-top: 20px;
}

.image {
    width: 100%;
}