.bestProduct_bg {
    width: 70%;
    min-height: 200px;
    margin: 20px auto;
}

h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: normal;
    margin-right: 0;
}

.list_full {
    display: flex;
    justify-content: space-between;
}

.list_full > ul {
    display: inline-block;
    padding: 0;
    width: 22%;
    
}

.detail {
    float: right;
    vertical-align: baseline;
    margin-top: 20px;
}

.image {
    width: 100%;
}