footer {
    margin-top: 100px;
    background-color: black;
    padding: 2% 0;
}

.frame {
    width: 65%;
    margin: auto;
}


.footer_sec1 {
    color: white;
    margin: 0;
}

.footer_sec1 > h1 {
    font-size: 25px;
    font-weight: 550;
    margin-right: 26%;
}

.footer_sec1 > .middle{
    display: inline-block;
    margin: 0;
}

.footer_sec1 > a {
    margin: auto;
    font-size: small;
}

.footer_sec1 > a > p {
    vertical-align: super;
}

.footer_sec1 > a > img {
    width: 18px;
    margin-left: 15px;
    margin-right: 3px;
}

.footer_sec2 {
    margin-top: 1%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid grey;
}

.footer_sec2 > p{
    color: grey;
    font-size: 13px;
}

.footer_sec3 {
    padding-top: 2.5%;
}

.footer_sec3 > p {
    color: grey;
    font-size: 13px;
}

.footer_sec3 > p:first-child {
    margin-top: 0;
}

.footer_sec3 > p {
    display: block;
    margin-top: 10px;
}

.upBtn {
    cursor: pointer;
    width: 45px;
    position: fixed;
    bottom: 20px;
    right: 10%;

    border-radius: 5px;
}