html,body {
    height: 101%;
    width: 100%;

    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
}

.zIndex_2{
    position: relative;
    z-index: 2;
}

.zIndex_1{
    position: relative;
    z-index: 1;
}